.navbar-container {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.nav-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 25%;
}

.nav-container a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s;
}
.nav-container a:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}

.nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.logout-btn {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0;
  border-radius: 6px;
  background-color: white;
  transition: background-color 0.2s, color 0.2s;
  font-size: 1rem;
  font-weight: 100;
}

.logout-btn:hover {
  background-color: #f0f0f0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
